@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body {
    text-align: center;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .box {
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: rgb(66, 211, 240);
    /* border-radius: 100px; */
  }
  .btn {
    padding: 1rem;
    cursor: pointer;
    border: 0;
    background-color: rgba(82, 148, 82, 0.8);
    color: #fff;
  }
h1{
  font-family: 'Orbitron', sans-serif;
}