*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: aqua;
}
.container{
    display: flex;
    margin: 100px auto;
    width: 600px;
    height: 600px;
    flex-wrap: wrap;   
}
.shadow{
    opacity: 0.4;
    position: absolute;
    background-color: black;
    width: 200px;
    height: 200px;
}
.photo .shadow{
    transition: all 1s;
}
.photo{
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
}
.photo img{
    max-width: 200px;
    height: 200px;
}
.photo-1:hover .shadow{
    transform: translate(-100%, -100%);
}
.photo-2:hover .shadow{
    transform: translate(0%, -100%);
}
.photo-3:hover .shadow{
    transform: translate(100%, -100%);
}
.photo-4:hover .shadow{
    transform: translate(-100%, 0%);
}
.photo-5:hover .shadow{
    opacity: 0;
}
.photo-6:hover .shadow{
    transform: translate(100%, 0%);
}
.photo-7:hover .shadow{
    transform: translate(-100%, 100%);
}
.photo-8:hover .shadow{
    transform: translate(0%, 100%);
}
.photo-9:hover .shadow{
    transform: translate(100%, 100%);
}
