*{
    font-family: arial;
}
body{
    padding-top: 20vh;
    background-color: black;
}
#calculator {
  width: 300px;
  height: 430px;
  border-radius: 20px;
  margin: 0 auto;
  text-align: center;
  box-shadow:0px 0px 100px rgb(1, 255, 255);
  background: linear-gradient(to right, #00C9FF,#92FE9D);
}

#display {
  padding-right: 10px;
  font-size: 3em;
  text-align: end;
  line-height: 80px;
  background: linear-gradient(to right, #00C9FF,#92FE9D);
  width: 100%;
  height: 80px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #eee;
}
.button {
  font-size: 1.5em;
  width: 25%;
  height: 70px;
  line-height: 50px;
  /* background: rgba(2, 251, 243, 0.979); */
  background: transparent;
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  float: left;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.width-50{
    width: 50%;
    border-bottom-left-radius: 20px;
}
.equals{
    border-bottom-right-radius: 20px;
}
.operator {
  background: rgba(94, 255, 0, 0);
  font-size: 2em;
}
.button:hover {
  background: rgba(255, 255, 255, 0.14);
}
.button:active {
  background: rgba(255, 255, 255, 0.678);
}
