*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
nav{
  display: flex;
  justify-content: space-between;
  /* background-color: aquamarine; */
  width: 100%;
  height: 80px;
  align-items: center;
}
ul {
  display: flex;
}
ul li{
  margin-right: 20px;
}
input[type="checkbox"] {
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: 0.5;
}
@media screen and (max-width:1024px) {
  body{
    /* background-color: antiquewhite; */
  }
  ul li{
    
  }
  .menu{
    margin-bottom: 30px;
    width: 30px;
    display: block;
  }
  input[type="checkbox"] {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: black;
  }
}
input[type="checkbox"]:checked  ~ .logo {
  /* display: block; */
  color: beige;
  /* background-color: aqua; */
}